# Carpetas innecesarias de Unity
Library/
Logs/
Temp/
UserSettings/

# Archivos grandes
*.mp4
*.avi
*.mov
*.fbx
*.obj
*.blend
*.psd
*.wav
*.zip
*.rar
Packages/com.ptc.vuforia.engine-11.0.4.tgz
Packages/com.ptc.vuforia.engine-11.0.4.tgz
